extends layout

block content
	div.left#map
	div.right
		h1.chart-title#corona-title Corona visualization graph
		canvas.graph#corona-chart
		h1.chart-title#flights-title Flight visualization graph
		div.chart#flights-chart

	script(src="/javascripts/app.js")