extends layout

block content
	div.left#map
	div.right
		h1.chart-title#corona-title Corona visualization graph
		div.graph#corona-chart
		h1.chart-title#flights-title Flight visualization graph
		canvas.chart#flights-chart

	script(src="/javascripts/app.js")